lib/data
lib/notebook
lib/out
lib/results
lib/tester
lib/.venv
lib/.git
heatmaps-backend/.venv
heatmaps-backend/.git
heatmaps-backend/.claude
heatmaps-backend/data
heatmaps-backend/docs
heatmaps-backend/tests

**/__pycache__
*.pyc
.pytest_cache
.mypy_cache
.ruff_cache
**/.DS_Store
.env
